 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  float:left;
  height:100%;
  width: 50%;
  margin-right:3%;
}

#content-pane {
  margin-top:2%;
  margin-left:35%;
  width:50%;
}

#content-pane label{
  margin:2%;
  color:#0045a7;
}

#content-pane input{
  background-color:#f8f8f8;
  border:1px solid #00000045;
  border-radius:50px;
  padding:5px;
}

#nearbies{
  position:absolute;
  margin-left:18%;
}

#street-view{
  width:35%;
  height:50%;
}

#output{
  font-size:25px;
  padding:5px;
}

#output img{
  width:50px;
}

#mode{
  width:130px;
  background-color:#f8f8f8;
  border:1px solid #00000045;
  border-radius:50px;
  padding:5px;
}

textarea:focus, input:focus{
    outline: none;
}

select  {
   border:0px;
   outline:0px;
}

#nearbies h3{
  color:#0044d7;
  font-style:italic;
}

#nearbies ul{
  list-style:none;
  font-style:italic;
  
}

#nearbies{
  margin-top:13%;
}

.citiesconteiner{
  display:inline-grid;
  padding:20px;
  background-color:#009fbc12;
  margin-top:1%;
  border-radius:50px 50px 50px 50px;
  box-shadow:1px 1px 1px #00000047;
  margin:10px;
}

.citiesconteiner:hover{
  background-color:aliceblue;
}

#addcity{
  font-size:26px;
}


#options{ 
  width:30px;
}

#options td{
  padding-top:20px;
  padding-left:20px;
}

#options .material-icons{
  font-size:47px;
  border:1px solid black;
  border-radius:50%;
  padding:3px;
  color:#fff;
  background-color:#060047;
  box-shadow:1px 1px 1px #535151eb;
}

#options .material-icons:hover{
  transform:scale(1.2,1.2);
  background-color:#0e00ba;
  border:1px solid #0e00ba;
}