 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  float:left;
  margin-left:23px;
  height:50%;
  width: 50%;
}

#content-pane {
  margin-top:2%
  width:50%;
  text-align:center;
}

#content-pane label{
  margin:2%;
  color:#0045a7;
}

#content-pane input{
  background-color:#f8f8f8;
  border:1px solid #00000045;
  border-radius:50px;
  padding:5px;
}

#street-view{
  width:47%;
  height:50%;
  margin-right:30px;
}

#output{
  font-size:25px;
  padding:5px;
}

#output img{
  width:50px;
}

#mode{
  width:130px;
  background-color:#f8f8f8;
  border:1px solid #00000045;
  border-radius:50px;
  padding:5px;
}

textarea:focus, input:focus{
    outline: none;
}

select  {
   border:0px;
   outline:0px;
}

#nearbies h3{
  color: #000;
}

#nearbies ul{
  list-style:none;
  color:#454545;
  letter-spacing:0.3px;
}

#nearbies li:hover{
  color:#000;
  text-decoration:underline;
  background-color:#dbf817;
}

#nearbies{
  width:100%;
  height:100%;
  background-color:#efefef;
  position:absolute;
  display:flex;
  margin-top:2%;
}

.citiesconteiner{
  padding:20px;
  margin:10px;
}

#addcity{
  font-size:26px;
}

#options{ 
  width:100%;
  margin-left:18%;
  margin-bottom:1.3%;
}

#options td{
  padding-top:20px;
  padding-left:100px;
}

#options a{
  background-color:#efefef;
  text-decoration:none;
  border:1px solid #d5d5d5;
  color:#a9a9a9;
  padding:7px;
  box-shadow:1px 1px 1px #959595;
  letter-spacing:-0.85px;
  font-family:sans-serif;
}

#options a:hover{
  background-color:white;
  color:grey;
  transform: scale(2, 3);
}